*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.crud-table, .crud-table td{
  border-collapse: collapse;
  border: 1px solid white;
  padding: 4px 10px;
  text-align: center;
  color: white;
  width: 200px;
}

.crud-table{
  width: max-content;
  background-color: rgb(78, 75, 255);
}

.crud-table td button{
  padding: 4px 8px;
  margin: 0 5px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.crud-table td button.edit{
  background-color: rgb(7,168,7);
  border: green;
}

.crud-table td button.edit:hover{
  background-color: rgb(3,71,3);
}

.crud-table td button.del{
  background-color: rgb(219,19,19);
  border: red;
}

.crud-table td button.del:hover{
  background-color: rgb(92,5,5);
}

.addForm{
  margin-bottom: 30px;
}

.addForm input{
  width: 230px;
  height: 35px;
  padding: 4px;
}

.addForm button{
  width: 140px;
  color: white;
  background-color: rgb(31,171,31);
  height: 35px;
  border: none;
}

.addForm button:hover{
  background-color: rgb(5,86,5);
}